# Large Datasets
CivicIssuesImageDataset/
text_dataset/
muril_Complaint_classifier/
muril_complaint_classifier_final/
best_efficient_b0.pth/
efficientnet_b0_civic_final.pth/


# Pycache
__pycache__/


#Virtual Environment
.env
venv/

# Hugging Face / PyTorch checkpoints in general
*.bin
*.safetensors
*.pt
*.pth
checkpoint-*/