# Large Datasets
CivicIssuesImageDataset/
text_dataset/
muril_Complaint_classifier/
muril_complaint_classifier_final/


# Pycache
__pycache__/


#Virtual Environment
.env
venv/

# Hugging Face / PyTorch checkpoints in general
*.bin
*.safetensors
*.pt
*.pth
checkpoint-*/